# Debug Settings (Default: 0)
debug: 0
admin_password: 3HeaddedMonkey # Please change this to a secure password!

# User Configuration
user: "{{ system_user }}"
user_home: "/home/{{ system_user }}"
user_shell: /bin/bash
user_avatar: ''

# Application Directories
working_directory: /opt/CrimsonCFG
playbooks_directory: "{{ working_directory }}/playbooks"
basics_directory: "{{ working_directory }}/playbooks/basics"
security_directory: "{{ working_directory }}/playbooks/security"
apps_directory: "{{ working_directory }}/playbooks/apps"
templates_directory: "{{ working_directory }}/templates"
files_directory: "{{ working_directory }}/files"
applications_directory: "{{ working_directory }}/applications"
inventory_file: "{{ working_directory }}/hosts.ini"
log_directory: "{{ working_directory }}/log"

# User Directories
user_config_directory: "{{ user_home }}/.config/com.crimson.cfg"
user_desktop_directory: "{{ user_home }}/.local/share/applications"
appimg_directory: "{{ user_home }}/AppImages"
desktop_dotfile_folder: "{{ user_home }}/.local/share/applications"

# Gnome Settings
gnome_background_image: ''

# Corporate Identity (CI)
app_name: CrimsonCFG
app_subtitle: System Configuration Manager
app_logo: ''
background_color: "#181a20"

# Basics APT Packages
apt_packages:
  - btop
  - mc
  - python3-venv
  - python3-tk
  - python3-psutil
  - libfuse2
  - gnome-tweaks
  - vlc
  - gufw
  - syncthing
  - syncthingtray
  - krita
  - filezilla
  - fuse3
  - nautilus
  - software-properties-common
  - flameshot

# Basic Snap Packages
snap_packages:
  - bitwarden

# GIT Settings
git_email: "{{ git_email }}"
git_username: "{{ git_username }}"

# SSH Settings
ssh_private_key_name: id_rsa
ssh_public_key_name: id_rsa.pub
ssh_private_key_content: ""
ssh_public_key_content: ""
ssh_config_content: ""

# Browser
chromium_homepage_url: "" 
chromium_profile1_name: downloads

# Fonts
hack_nerd_font_url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/Hack.zip"
meslo_nerd_font_url: "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf"

# AppImage

## Cursor
cursor_appimage_dir: '{{ appimg_directory }}/Cursor'
cursor_appimage_filename: Cursor.AppImage
cursor_appimage_url: https://downloads.cursor.com/production/faa03b17cce93e8a80b7d62d57f5eda6bb6ab9fa/linux/x64/Cursor-1.2.2-x86_64.AppImage

## Orca-Slicer
orca_appimage_dir: '{{ appimg_directory }}/OrcaSlicer'
orca_appimage_filename: OrcaSlicer.AppImage
orca_appimage_url: https://github.com/SoftFever/OrcaSlicer/releases/download/v2.3.0/OrcaSlicer_Linux_AppImage_Ubuntu2404_V2.3.0.AppImage

## Prism-Launcher
prism_appimage_dir: '{{ appimg_directory }}/PrismLauncher'
prism_appimage_filename: PrismLauncher.AppImage
prism_appimage_url: https://api.github.com/repos/PrismLauncher/PrismLauncher/releases/latest


# ZSH

## ZSH Plugins
zsh_plugins:
- name: zsh-autosuggestions
  repo: https://github.com/zsh-users/zsh-autosuggestions.git
- name: zsh-syntax-highlighting
  repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
- name: zsh-completions
  repo: https://github.com/zsh-users/zsh-completions.git

## Oh-my-ZSH
oh_my_zsh_install_url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh

## Powerlevel10K
powerlevel10k_repo: https://github.com/romkatv/powerlevel10k.git

# External Playbook Repository
# Set this to the URL of your own playbook repository to use custom and apps playbooks from there.
external_playbook_repo_url: ""
