# Debug Settings (Default: 0)
debug: 0
admin_password: ''

# User Configuration
user: "{{ system_user }}"
user_home: "/home/{{ system_user }}"
user_shell: /bin/bash
user_avatar: ''

# Application Directories
working_directory: /opt/CrimsonCFG
playbooks_directory: "{{ working_directory }}/playbooks"
basics_directory: "{{ working_directory }}/playbooks/basics"
security_directory: "{{ working_directory }}/playbooks/security"
apps_directory: "{{ working_directory }}/playbooks/apps"
templates_directory: "{{ working_directory }}/templates"
files_directory: "{{ working_directory }}/files"
app_directory: "{{ working_directory }}/app"
wallpaper_directory: "{{ working_directory }}/files/system/gnome/wallpapers"
inventory_file: "{{ working_directory }}/hosts.ini"
log_directory: "{{ working_directory }}/log"

# User Directories
user_config_directory: "{{ user_home }}/.config/com.crimson.cfg"
user_desktop_directory: "{{ user_home }}/.local/share/applications"
appimg_directory: "{{ user_home }}/AppImages"
desktop_dotfile_folder: "{{ user_home }}/.local/share/applications"

# Gnome Settings
gnome_background_image: ''
theme_mode: ''

# Corporate Identity (CI)
app_name: CrimsonCFG
app_subtitle: System Configuration Manager
app_logo: '{{ working_directory }}/files/app/com.crimson.cfg.icon.png'
background_color: "#181a20"
app_background_image: ''

# Basics APT Packages
apt_packages:
  - python3-venv
  - python3-tk
  - python3-psutil
  - libfuse2
  - fuse3
  - gnome-tweaks
  - gufw
  - software-properties-common
  - flameshot
  - vlc
  - btop
  - mc

# GIT Settings
git_email: "{{ git_email }}"
git_username: "{{ git_username }}"

# Browser
chromium_homepage_url: "http://192.168.23.42:3003" 
chromium_profile1_name: downloads

# External Playbook Repository
# Set this to the URL of your own playbook repository to use custom and apps playbooks from there.
external_playbook_repo_url: ""
